* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
      /* background-color: #babdbf0d; */
  background-color: #e1eeff;
}
.box{
  border-top-left-radius: 50%;
}




